@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Giới thiệu</span></h2>
<div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3">VT Pharmacy</h1>
        <p>VT Pharmacy chuyên cung cấp đa dạng các loại thuốc kê đơn, không kê đơn, các sản phẩm thực phẩm chức năng, trang thiết bị y tế, dược mỹ phẩm và nhiều sản phẩm chăm sóc sức khoẻ, tiêu dùng hàng ngày,....</p>
    </div>
    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
        <div class="testimonial-item bg-light rounded p-3">
            <div class="bg-white border rounded p-4">
                <h6 class="fw-bold mb-1">Sứ mệnh</h6>
                <p>VT Pharmacy là một trong những chuỗi bán lẻ dược phẩm đầu tiên tại Việt Nam. Với đội ngũ dược sĩ có chuyên môn và giàu kinh nghiệm. VT Pharmacy luôn mong muốn được chăm sóc, phục vụ sức khỏe cộng đồng với chất lượng tốt nhất và giá cả hợp lý.</p>
            </div>
        </div>
        <div class="testimonial-item bg-light rounded p-3">
            <div class="bg-white border rounded p-4">
                <h6 class="fw-bold mb-1">Giá trị cốt lõi</h6>
                <ul>
                    <li>
                        Chất lượng tốt - Uy tín hàng đầu: Tất cả thuốc và sản phẩm đều được nhập từ chính hãng, được kiểm soát chất lượng theo qui trình chặt chẽ, được bán với giá niêm yết.
                    </li>
                    <li>
                        Khách hàng là trọng tâm: Chú trọng nâng cao trải nghiệm của khách hàng, đem lại sự hài lòng nhất về tư vấn, đổi trả và giao hàng cho khách hàng.
                    </li>
                </ul>
            </div>
        </div>
        <div class="testimonial-item bg-light rounded p-3">
            <div class="bg-white border rounded p-4">
                <h6 class="fw-bold mb-1">Chính sách đổi trả</h6>
                <ul>
                    <li>
                        Khách hàng có thể đổi hoặc trả thuốc đã mua tại Nhà thuốc Long Châu với điều kiện đơn hàng phải có thông tin số điện thoại và trong vòng 30 ngày kể từ ngày mua hàng.
                    </li>
                    <li>
                        Trường hợp đổi trả do lỗi của Nhà sản xuất: Miễn phí đổi trả áp dụng cho tất cả các sản phẩm đang kinh doanh tại Nhà thuốc Long Châu (Không bao gồm các sản phẩm trữ lạnh, thuốc tiêm chích, vớ y khoa).
                    </li>
                </ul>
            </div>
        </div>
        <div class="testimonial-item bg-light rounded p-3">
            <div class="bg-white border rounded p-4">
                <h6 class="fw-bold mb-1">Chính sách giao hàng</h6>
                <ul>
                    <li>
                        VT Pharmacy thực hiện giao hàng trên toàn quốc. Khi nhận đơn hàng từ người mua và sau khi đã xác nhận thông tin mua hàng qua website, VT Pharmacy sẽ tiến hành giao hàng theo yêu cầu của quý khách hàng.
                    </li>
                    <li>
                        Giao hàng tận nơi trên toàn bộ 63 tỉnh thành áp dụng với các hàng hóa được mua bán online.
                    </li>
                    <li>
                        Miễn phí giao hàng với hóa đơn từ 300.000 đồng trở lên nếu giao trong cùng tỉnh/thành phố với cửa hàng gần nhất.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
