@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignManager;
@inject UserManager<IdentityUser> UserManager ;
@model Pharmacy.ViewsModels.CreateUserViewModel;
@{
    Layout = null;

}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/Assets/css/styleL_R.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <section class="container forms">
        <!--Forgot password-->
        <div class="form forgot-password active">
            <div class="form-content">
                <header>Quên mật khẩu</header>
                <form asp-action="ForgotPassword" asp-controller="Login" method="post">
                    <div class="field input-field">
                        <input type="email" name="email" placeholder="Email" class="input">
                    </div>
                    @switch (ViewBag.ResetPassword)
                    {
                        case 1:
                            <div class="field  text-success mt-2 offset-3 col-6" role="alert">
                                Vui lòng kiểm tra Email để đổi lại mật khẩu!
                            </div>
                            break;
                        case 0:
                            <div class="field  text-danger mt-2 offset-3 col-6" role="alert">
                                Vui lòng điền Email để đổi mật khẩu!
                            </div>
                            break;
                        case -1:
                            <div class="field  text-danger mt-2 offset-3 col-6" role="alert">
                                Email này chưa đăng ký tài khoản, hoặc chưa xác nhận Email!
                            </div>
                            break;

                    }
                    <div class="field button-field">
                        <button type="submit">Đổi mật khẩu</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>
                        Quay lại trang
                        @Html.ActionLink("Đăng nhập", "Index", "Login")
                    </span>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Assets/js/script.js"></script>
</body>
</html>
