@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignManager;
@inject UserManager<IdentityUser> UserManager ;

@model Pharmacy.ViewsModels.SignInViewModels;
@{
    Layout = null;
   
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/Assets/css/styleL_R.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <section class="container forms">
        <div class="form login active">
            <div class="form-content">
                <header>Đăng nhập</header>
                 @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    <div class="field input-field">
                        <input asp-for="userName" type="text" placeholder="Tên đăng nhập" class="input">
                    </div>

                    <div class="field input-field">
                        <input asp-for="Password" type="password" placeholder="Mật khẩu" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="rememberMe"/>
                        <label asp-for="RememberMe" class="form-check-label" for="rememberMe">Nhớ mật khẩu</label>
                    </div>
                    <div class="form-link">
                        <a href="#" data-target="forgot-password" class="link forgot-pass">Quên mật khẩu?</a>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Đăng nhập</button>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"> </div>
                }

                <div class="form-link">
                    <span>Bạn chưa có tài khoản? 
                        @Html.ActionLink("Đăng ký", "CreateUser", "Login")
                    </span>
                </div>
                <div class="form-link">
                    <span>
                      
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </span>
                </div>
            </div>

            <div class="line"></div>
           

            <div class="media-options">
                <a asp-controller="ExternalLogin" asp-action="Login" class="field google">
                    <img src="~/Assets/img/google.png" alt="" class="google-img">
                    <span>Tiếp tục với Google</span>
                </a>

            </div>

        </div>

        <!--Forgot password-->
        <div class="form forgot-password">
            <div class="form-content">
                <header>Quên mật khẩu</header>
                <form action="#">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Mật khẩu mới" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Nhập lại mật khẩu" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button>Đổi mật khẩu</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Quay lại? <a href="#" data-target="login" class="link signin-link">Đăng nhập</a></span>
                </div>
            </div>
        </div>

    </section>

    <!-- JavaScript -->
    <script src="~/Assets/js/script.js"></script>
</body>
</html>

