@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignManager;
@inject UserManager<IdentityUser> UserManager ;
@model Pharmacy.ViewsModels.ViewsResetPassword;
@{
    Layout = null;

}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/Assets/css/styleL_R.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <section class="container forms">
        <!--Forgot password-->
        <div class="form forgot-password active">
            <div class="form-content">
                <header>Quên mật khẩu</header>
                @if (ViewBag.EmailResetPassword)
                {
                    <form asp-action="ResetPassword" asp-controller="Login" method="post">
                        <input asp-for="@Model.Code" type="hidden" />
                        <input asp-for="@Model.Email" type="hidden"  />
                        <div class="field input-field">
                            <input asp-for="Password" placeholder="Mật khẩu mới" class="password" />
                            <i class='bx bx-hide eye-icon'></i>
                            
                        </div>
                        <div class="field input-field">
                            <input asp-for="ConfirmPassword" placeholder="Nhập lại mật khẩu"  class="password" />
                            <i class='bx bx-hide eye-icon'></i>
                           
                        </div>
                        @if (ViewBag.ConfirmResetPassword == "1")
                        {
                            <span class="text-success">Cập nhật mật khẩu thành công </span>
                        }
                        <div asp-validation-summary="All" class="text-danger"> </div>
                        <div class="field input-field">
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                    </form>
                }
                else
                {
                    <div class="field  text-danger mt-2 offset-3 col-6" role="alert">
                        Lỗi tài khoản!
                    </div>
                }
                <div class="form-link">
                    <span>
                        Quay lại trang
                        @Html.ActionLink("Đăng nhập", "Index", "Login")
                    </span>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Assets/js/script.js"></script>
</body>
</html>
