/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #035585;
    column-gap: 10%;
}

.form {
    position: absolute;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
    display: none;
}

    .form.active {
        display: block;
    }

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    display: flex;
}

.field input,
.field button {

    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    border: 1px solid#CACACA;
    padding: 10px 10px;
    margin-left: 10px;
}

    .field input:focus {
        border-bottom-width: 2px;
    }

input[type="date"] {
    color: #848784;
    width: 100%;
}

input[type="text"] {
    display: inline-block;
    width: 100%;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

    .field button:hover {
        background-color: #016dcb;
    }

.form-link {
    text-align: center;
    margin-top: 10px;
}

    .form-link span,
    .form-link a {
        font-size: 14px;
        font-weight: 400;
        color: #232836;
    }

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

    .line::before {
        content: 'Or';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        color: #8b8b8b;
        padding: 0 15px;
    }

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google {
    border: 1px solid #CACACA;
}

    a.google span {
        font-weight: 500;
        opacity: 0.6;
        color: #232836;
    }

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }
}
.text-success {
    color: #3d9e28 !important;
    display: block;
}
.text-danger {
    color: red !important;
    display: block;
    
}

.form-check{
    padding-left: 10px;
}

.mr-2 {
    margin-right: .5rem !important
}

.fa-arrow-left {
    padding-right: 5px;
    color: #0171d3;
}